#destacadas{
    text-align: center;
    background: #fff;
    color:#0075d9;
    padding: 20px; 
    }
    
    #destacadas .fundaciones{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        
    }
    
    .fundaciones-destacadas{
        margin: 20px;
    }
    
    

    .fundaciones-destacadas h2{
        font-size: 30px;
    
	}
	.fundaciones-destacadas  li:hover{
        color: #0b610b;
        font-size: 18px;
	}
    #barra h2{
        margin-top: 5px;
        background: #424242;
        padding: 20px;
        color: #fff;
        text-align: center;
    }
    
    
    
    
    